infinispan1: 
  image: jboss/infinispan-server:$INFINISPAN_VERSION
  container_name: ispn-1
infinispan2:
  image: jboss/infinispan-server:$INFINISPAN_VERSION
  container_name: ispn-2
sparkMaster:
  image: gustavonalle/spark:$SPARK_VERSION
  container_name: sparkMaster
  volumes:
    - $PWD/target:/usr/local/code
sparkSlave:
  image: gustavonalle/spark:$SPARK_VERSION
  container_name: sparkSlave
  links:
    - sparkMaster:master
