infinispan1: 
  image: gustavonalle/infinispan-server:INFINISPAN_VERSION
infinispan2:
  image: gustavonalle/infinispan-server:INFINISPAN_VERSION
sparkMaster:
  image: gustavonalle/spark:SPARK_VERSION
sparkSlave:
  image: gustavonalle/spark:SPARK_VERSION
  links:
    - sparkMaster:master
